.header {
z-index: 9999;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 1rem - 15px);
    height: 50px;
    padding: .5rem 1rem;
    display: flex
;
    position: fixed;
    top: .5rem;
    border: solid .5px #ffffff2b;
    border-radius: 2rem;
    left: .5rem;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav_links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav_link {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.nav_link:hover {
    color: var(--brand-color);
}

.logo {
    font-size: 20px;
    letter-spacing: 3px;
}

.user_section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user_avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-size: 100% 100%;
    justify-content: center;
    font-size: 12px;
}
