.sidebar {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    color: #fff;
    border-radius: 10px;
    align-items: center;
    gap: 30px;
    padding: 1rem;
    border: .5px solid #ffffff36;
    display: flex;
    position: fixed;
    bottom: .3rem;
    z-index: 9999999;
    left: 50%;
    transform: translate(-50%);
}

.sidebar_icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.sidebar_icon:hover {
    opacity: 1;
}

.active {
    color: var(--brand-color);
    opacity: 1;

}
