        .sec1 {
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 100vh;
            height: 100vh;
            width: 100%;
            justify-content: center;
            position: relative;
            background-image: linear-gradient(#2020206e, #2020206e), url(https://image.tmdb.org/t/p/w1280/p5ozvmdgsmbWe0H8Xk7Rc8SCwAB.jpg);
        }

        .layer {
            width: 100%;
            height: 30px;
            position: absolute;
            bottom: 0;
            background-image: linear-gradient(#20202011, #202020);
        }

        .sec1 .container {
            width: calc(100% - 50px);
            height: calc(100% - 50px);
            backdrop-filter: blur(10px);
            border-radius: 1rem;
            position: relative;
            border: solid .5px #ffffff21;
        }

        .sec1 .container .content {
            padding: 0 2rem;
            height: 70%;
            display: flex;
            position: relative;
        }

        .sec1 .container .content .img-container {
            display: flex;
            align-items: end;
            justify-content: end;
            height: 100%;
        }

        .sec1 .container .content .img-container img {
            border-radius: 10px;
            max-width: 200px;
            max-height: 100%;
        }


        .sec1 .container .content .meta-data-container {
            padding: 1rem;
            position: relative;
            height: fit-content;
            top: 60%;
            transform: translateY(-50%);
        }

        .sec1 .container .content .meta-data-container,
        .sec1 .container .content .meta-data-container .main-data {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            gap: .5rem !important;
        }

        .sec1 .container .content .meta-data-container .main-data ul {
            display: flex;
            gap: .3rem;
            font-size: 12px;
            color: var(--brand-color);
        }

        .sec1 .container .content .meta-data-container .main-data h1 {
            font-size: 30px;
            font-weight: 700;
        }

        .sec1 .container .content .meta-data-container .main-data p {
            font-size: 13px;
        }

        .sec1 .container .content .meta-data-container .main-data p span {
            color: #d6d6d6;
        }

        .sec1 .container .content .meta-data-container .overview {
            padding: 1rem 0;
            max-width: 500px;
            color: #d6d6d6;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: .3px;
            max-height: 15ch;
            overflow: hidden auto;
            border-radius: 10px;
            scrollbar-width: thin;
            scrollbar-color: rgba(255, 255, 255, 0.356) #ffffff00;
        }

        .sec1 .container .content .meta-data-container .overview::-webkit-scrollbar-thumb {
            border-radius: 1rem;
        }

        .sec1 .container .rating-container {
            width: 250px;
            height: 70px;
            position: absolute;
            right: 0;
            top: 1.5rem;
            backdrop-filter: blur(10px);
            border-bottom-left-radius: 3rem;
            border-top-left-radius: 3rem;
        }

        .sec1 .container .rating-container .rating h2 {
            display: flex;
            margin: 8px 1rem 0 1rem;
            gap: 5px;
            border-bottom: solid .5px #ffffff5d;
        }

        .sec1 .container .rating-container .rating h2 span {
            font-size: 12px;
            display: grid;
            font-weight: 600;
        }

        .sec1 .container .rating-container .set-rating {
            padding: 5px 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .sec1 .container .rating-container .set-rating svg {
            cursor: pointer;
        }

        .btn-container {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 2rem;
            align-items: center;
        }


        .sec1 .container .btn-container .play-btn {
            width: 6rem;
            height: 3.2rem;
            border-radius: 3rem;
            position: relative;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 17px;
            font-weight: 700;
            box-shadow: -10px -10px 10px rgb(136, 8, 8) inset;
            background: linear-gradient(135deg, red, #b92e2e, rgb(141, 1, 1));
        }

        .sec1 .container .btn-container .btns {
            padding: .6rem 1rem;
            display: flex;
            align-items: center;
            gap: .5rem;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.315);

        }

        .sec1 .container .btn-container .like-btn {
            background-color: var(--background);
            color: #ffffff;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.315);
        }

        .sec1 .container .btn-container .add-play-list {
            background-color: #ffffff34;
            border: solid 1px #fff;
            color: #fff;
            margin-top: 1rem;
            font-weight: 600;
        }

        .sec1 .container .btn-container .add-play-list:hover {
            background-color: #fff;
            color: var(--background);
        }

        .sec1 .container .btn-container .like-btn:active .heart {
            transform: scale(1.3);
            rotate: -25deg;
        }


        @media (max-width: 600px) {

            .sec1 .container {
                width: 100%;
                height: 100%;
                border-radius: 0;
            }

            .sec1 .container .content .img-container {
                width: 150px;
                height: 150px;
                top: 2rem;
                right: 3rem;
            }

            .sec1 .container .content .img-container img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }


            .sec1 .container .content {
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                margin-top: 3rem;
                height: 100%;
            }

            .sec1 .container .content .meta-data-container {
                position: static !important;
                transform: none !important;
            }

            .sec1 .container .rating-container {
                display: none;
                visibility: hidden;
                opacity: 0;
                scale: 0;
            }

            .sec1 .container .rating-container h2 {
                border-bottom: none !important;
                margin: auto !important;
            }

            .btn-container {
                position: absolute;
                bottom: 0;
            }
        }

        .trailers-container {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 1rem;
            justify-content: space-evenly;
        }

        .sec2 {
            padding: 2rem 1rem;
        }


        .sec2 h2 {
            letter-spacing: 1px;
            font-weight: 300;
            text-shadow: 0 0 5px #fff;
        }

        .trailers-container .trailer {
            width: 350px;
            min-width: 210px;
            height: 200px;
            border-radius: 1rem;
            background-color: green;
        }