.form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: linear-gradient(#000000b4, #000000b4), url(@/public/login-form.jpg);
    box-shadow: 0 0 30px #ffffff23;
    background-size: 100% 100%;
    border-radius: 10px;
    backdrop-filter: blur(30px);
}

.form h1 {
    padding-bottom: .5rem;
    text-transform: capitalize;
    text-align: center;
    font-size: 25px
}

.form .form_group {
    position: relative;
}

.form .form_group-group .form_label {
    font-size: 14px;
    color: #fff;
    z-index: 9;
    margin-bottom: 15px;
}

.form .form_group input {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    border-radius: 8px;
    font-family: system-ui;
    background-color: #ffffffd5;
    color: #000;
    box-shadow: 0 0 30px #ffffff2c;
}

.form .form_group .show_pass_btn {
    position: absolute;
    padding: 3px;
    right: .5rem;
    top: 30px;
    font-size: 12px;
    background-color: transparent;
    color: #000;
}

.form .form_group .pass_row {
    padding: 0.5rem;
}

.form .form_group .pass_row  a {
    color: var(--links-color);
    text-decoration: underline;
}

.form .line {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.form .line span {
    width: 100px;
    background-color: #ffffff94;
    height: 1px;
}

.google_btn {
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    transition: all .6s ease;
}

.google_btn svg {
    height: 24px;
}

.google_btn:hover {
    transform: scale(1.02);
}

.form .submit_btn {
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    border-radius: 0.5rem;
    border: 1px solid #00000040;
    gap: 0.75rem;
    color: #fff;
    border: solid var(--brand-color) 0.5px;
    background-color: transparent;
    cursor: pointer;
    transition: all .6s ease;
}

.form .submit_btn:hover {
    transition: all .6s ease;
    border: solid transparent 1px;
    background: linear-gradient(45deg, red, #b90202);
}

.form .login {
    text-align: center;
    text-transform: capitalize;
}

.form .login a {
    color: var(--links-color);
    font-size: 14px;
    font-weight: 600;
}

.form .login a:hover {
    text-decoration: underline;
}
