
        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: .5rem 0;
        }

        .title h2 {
            max-width: 450px;
            font-size: 35px;
            font-weight: 500;
            text-shadow: 0 0 10px rgba(255, 0, 0, 0.801);
        }

        .content {
            position: relative;
            top: 1rem;
            width: 100%;
            display: flex;
            gap: .8rem;
            justify-content: center;
            overflow: hidden auto;
        }
