        .navbar {
            width: 100%;
            max-height: 50px;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding-top: .3rem;
        }

        .logo_container {
            width: fit-content;
            display: flex;
            align-items: center;
            padding-right: 10px;
            height: 40px;
            border-right: solid #ffffff94 .5px;
        }

        .logo_container img {
            width: 60px;
            height: 60px;
            scale: 1.3;
        }

        .logo_container h1 {
            font-size: 24px;
        }

        .nav_links ul {
            list-style: none;
            display: flex;
            gap: .8rem;
        }

        .nav_links ul li {
            position: relative;
            padding-bottom: 2px;
            text-transform: capitalize;
            font-weight: 500;
            transition: .4s;
            cursor: pointer;
        }

        .nav_links ul li::after,
        .nav_links ul .active::after {
            content: "";
            width: 0;
            height: 2px;
            background-color: var(--brand-color);
            position: absolute;
            bottom: 0;
            left: 0;
            transition: .4s;
        }

        .nav_links ul li:hover,
        .nav_links ul .active {
            color: var(--brand-color);
            transition: .4s;
        }

        .nav_links ul li:hover::after,
        .nav_links ul .active::after {
            width: 100%;
            transition: .4s;
        }

        .btn_container {
            position: absolute;
            right: 1rem;
        }

        .btn_container button {
            padding: .7rem 1.5rem;
            border-radius: 5px;
            font-family: system-ui;
            font-weight: 500;
            font-size: 14px;
            background: transparent;
            color: var(--brand-color);
            border: solid var(--brand-color) .7px;
            transition: .4s;
        }

        .btn_container button:hover {
            background: linear-gradient(45deg, rgb(165, 1, 1), var(--brand-color));
            color: #fff;
            border: solid .7px transparent;
            transition: .4s;
        }